<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwafu.databaseoprations.dao.CompanyBaseInfoMapper">
	<resultMap id="BaseResultMap" type="com.nwafu.databaseoprations.entity.CompanyBaseInfo">
		<result column="id" jdbcType="INTEGER" property="id"/>
		<result column="companyName" jdbcType="VARCHAR" property="companyName"/>
		<result column="companyAbbreviation" jdbcType="VARCHAR" property="companyAbbreviation"/>
	</resultMap>
	<insert id="insert" parameterType="com.nwafu.databaseoprations.entity.CompanyBaseInfo">
		insert into company_base_info(companyName,companyAbbreviation) values
		<foreach collection="list" index="index" item="item" separator=",">(
			#{item.companyName,jdbcType=VARCHAR},
			#{item.companyAbbreviation,jdbcType=VARCHAR}
		)</foreach>
	</insert>

	<select id="selectAll" resultMap="BaseResultMap">
		select * from company_base_info
	</select>

	<select id="selectByCondition" resultMap="BaseResultMap">
		select * from company_base_info where ${condition}=#{value}
	</select>

	<delete id="deleteById" parameterType="java.util.List">
		delete from company_base_info where id in
		<foreach close=")" collection="list" item="item" open="(" separator=",">#{item}</foreach>
	</delete>


</mapper>
