<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwafu.databaseoprations.dao.FarmInfomationMapper">
  <resultMap id="BaseResultMap" type="com.nwafu.databaseoprations.entity.FarmInfomation">
    <result column="farmUuid" jdbcType="VARCHAR" property="farmUuid" />
    <result column="farmName" jdbcType="VARCHAR" property="farmName" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="farmAddress" jdbcType="VARCHAR" property="farmAddress" />
  </resultMap>
  <insert id="insert" parameterType="com.nwafu.databaseoprations.entity.FarmInfomation">
    insert into farm_infomation (farmUuid, farmName, `owner`, 
      farmAddress)
    values (#{farmUuid,jdbcType=VARCHAR}, #{farmName,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{farmAddress,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select farmUuid, farmName, `owner`, farmAddress
    from farm_infomation
  </select>
  <resultMap id="BaseResultMap" type="com.nwafu.databaseoprations.entity.FarmInfomation">
    <result column="farmUuid" jdbcType="VARCHAR" property="farmUuid" />
    <result column="farmName" jdbcType="VARCHAR" property="farmName" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="farmAddress" jdbcType="VARCHAR" property="farmAddress" />
  </resultMap>
  <insert id="insert" parameterType="com.nwafu.databaseoprations.entity.FarmInfomation">
    insert into farm_infomation (farmUuid, farmName, `owner`, 
      farmAddress)
    values (#{farmUuid,jdbcType=VARCHAR}, #{farmName,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{farmAddress,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select farmUuid, farmName, `owner`, farmAddress
    from farm_infomation
  </select>
</mapper>