<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwafu.databaseoprations.dao.RabbitHealthMapper">
  <resultMap id="BaseResultMap" type="com.nwafu.databaseoprations.entity.RabbitHealth">
    <result column="healRecordId" jdbcType="VARCHAR" property="healRecordId" />
    <result column="farmUuid" jdbcType="VARCHAR" property="farmUuid" />
    <result column="rabbitHouseNo" jdbcType="INTEGER" property="rabbitHouseNo" />
    <result column="rabbitNo" jdbcType="INTEGER" property="rabbitNo" />
    <result column="bodyCondition" jdbcType="VARCHAR" property="bodyCondition" />
    <result column="mentalCondition" jdbcType="VARCHAR" property="mentalCondition" />
    <result column="feeding" jdbcType="VARCHAR" property="feeding" />
    <result column="drinking" jdbcType="VARCHAR" property="drinking" />
    <result column="eyelid" jdbcType="INTEGER" property="eyelid" />
    <result column="conjunctiva" jdbcType="VARCHAR" property="conjunctiva" />
    <result column="secretion" jdbcType="VARCHAR" property="secretion" />
    <result column="externalEar" jdbcType="VARCHAR" property="externalEar" />
    <result column="innerEar" jdbcType="VARCHAR" property="innerEar" />
    <result column="nose" jdbcType="VARCHAR" property="nose" />
    <result column="nasalFluid" jdbcType="INTEGER" property="nasalFluid" />
    <result column="nasalMucosa" jdbcType="VARCHAR" property="nasalMucosa" />
    <result column="mouth" jdbcType="VARCHAR" property="mouth" />
    <result column="abdomen" jdbcType="VARCHAR" property="abdomen" />
    <result column="anus" jdbcType="VARCHAR" property="anus" />
    <result column="odor" jdbcType="VARCHAR" property="odor" />
    <result column="fecalMorphology" jdbcType="VARCHAR" property="fecalMorphology" />
    <result column="stoolColor" jdbcType="VARCHAR" property="stoolColor" />
    <result column="urineColor" jdbcType="VARCHAR" property="urineColor" />
    <result column="urineVolume" jdbcType="VARCHAR" property="urineVolume" />
    <result column="coat" jdbcType="VARCHAR" property="coat" />
    <result column="skin" jdbcType="VARCHAR" property="skin" />
    <result column="joint" jdbcType="VARCHAR" property="joint" />
    <result column="limbs" jdbcType="VARCHAR" property="limbs" />
    <result column="suspectedDisease" jdbcType="VARCHAR" property="suspectedDisease" />
    <result column="medication" jdbcType="VARCHAR" property="medication" />
    <result column="initialTreatmentEffect" jdbcType="VARCHAR" property="initialTreatmentEffect" />
    <result column="muscle" jdbcType="VARCHAR" property="muscle" />
    <result column="brain" jdbcType="VARCHAR" property="brain" />
    <result column="cerebellum" jdbcType="VARCHAR" property="cerebellum" />
    <result column="throat" jdbcType="VARCHAR" property="throat" />
    <result column="organ" jdbcType="VARCHAR" property="organ" />
    <result column="abdominalCavity" jdbcType="VARCHAR" property="abdominalCavity" />
    <result column="thoracicCavity" jdbcType="VARCHAR" property="thoracicCavity" />
    <result column="lymphNode" jdbcType="VARCHAR" property="lymphNode" />
    <result column="heart" jdbcType="VARCHAR" property="heart" />
    <result column="lung" jdbcType="VARCHAR" property="lung" />
    <result column="liver" jdbcType="VARCHAR" property="liver" />
    <result column="liverColor" jdbcType="VARCHAR" property="liverColor" />
    <result column="gallbladder" jdbcType="VARCHAR" property="gallbladder" />
    <result column="bileDuct" jdbcType="VARCHAR" property="bileDuct" />
    <result column="kidneySurface" jdbcType="VARCHAR" property="kidneySurface" />
    <result column="renalParenchyma" jdbcType="VARCHAR" property="renalParenchyma" />
    <result column="spleen" jdbcType="VARCHAR" property="spleen" />
    <result column="gastricMucosa" jdbcType="VARCHAR" property="gastricMucosa" />
    <result column="stomachContents" jdbcType="VARCHAR" property="stomachContents" />
    <result column="duodenalMucosa" jdbcType="VARCHAR" property="duodenalMucosa" />
    <result column="duodenalContents" jdbcType="VARCHAR" property="duodenalContents" />
    <result column="jejunalMucosa" jdbcType="VARCHAR" property="jejunalMucosa" />
    <result column="jejunalContents" jdbcType="VARCHAR" property="jejunalContents" />
    <result column="ilealMucosa" jdbcType="VARCHAR" property="ilealMucosa" />
    <result column="ilealContents" jdbcType="VARCHAR" property="ilealContents" />
    <result column="cecumMucosa" jdbcType="VARCHAR" property="cecumMucosa" />
    <result column="cecumContents" jdbcType="VARCHAR" property="cecumContents" />
    <result column="appendix" jdbcType="VARCHAR" property="appendix" />
    <result column="colonicMucosa" jdbcType="VARCHAR" property="colonicMucosa" />
    <result column="colonContents" jdbcType="VARCHAR" property="colonContents" />
    <result column="rectalMucosa" jdbcType="VARCHAR" property="rectalMucosa" />
    <result column="rectalContents" jdbcType="VARCHAR" property="rectalContents" />
    <result column="vaginalMucosa" jdbcType="VARCHAR" property="vaginalMucosa" />
    <result column="vaginalDischarge" jdbcType="VARCHAR" property="vaginalDischarge" />
    <result column="uterus" jdbcType="VARCHAR" property="uterus" />
    <result column="ovaryAndFallopianTubes" jdbcType="VARCHAR" property="ovaryAndFallopianTubes" />
    <result column="breast" jdbcType="VARCHAR" property="breast" />
    <result column="penis" jdbcType="VARCHAR" property="penis" />
    <result column="testis" jdbcType="VARCHAR" property="testis" />
    <result column="scrotum" jdbcType="VARCHAR" property="scrotum" />
    <result column="anatomicalDiagnosis" jdbcType="VARCHAR" property="anatomicalDiagnosis" />
    <result column="microscopicExaminationResult" jdbcType="VARCHAR" property="microscopicExaminationResult" />
    <result column="bacterialCultureConclusion" jdbcType="VARCHAR" property="bacterialCultureConclusion" />
    <result column="diagnosisConclusion" jdbcType="VARCHAR" property="diagnosisConclusion" />
  </resultMap>
  <insert id="insert" parameterType="com.nwafu.databaseoprations.entity.RabbitHealth">
    insert into rabbit_health (healRecordId, farmUuid, rabbitHouseNo, 
      rabbitNo, bodyCondition, mentalCondition, 
      feeding, drinking, eyelid, 
      conjunctiva, secretion, externalEar, 
      innerEar, nose, nasalFluid, 
      nasalMucosa, mouth, abdomen, 
      anus, odor, fecalMorphology, 
      stoolColor, urineColor, urineVolume, 
      coat, skin, joint, 
      limbs, suspectedDisease, medication, 
      initialTreatmentEffect, muscle, brain, 
      cerebellum, throat, organ, 
      abdominalCavity, thoracicCavity, lymphNode, 
      heart, lung, liver, 
      liverColor, gallbladder, bileDuct, 
      kidneySurface, renalParenchyma, spleen, 
      gastricMucosa, stomachContents, duodenalMucosa, 
      duodenalContents, jejunalMucosa, jejunalContents, 
      ilealMucosa, ilealContents, cecumMucosa, 
      cecumContents, appendix, colonicMucosa, 
      colonContents, rectalMucosa, rectalContents, 
      vaginalMucosa, vaginalDischarge, uterus, 
      ovaryAndFallopianTubes, breast, penis, 
      testis, scrotum, anatomicalDiagnosis, 
      microscopicExaminationResult, bacterialCultureConclusion, 
      diagnosisConclusion)
    values (#{healRecordId,jdbcType=VARCHAR}, #{farmUuid,jdbcType=VARCHAR}, #{rabbitHouseNo,jdbcType=INTEGER}, 
      #{rabbitNo,jdbcType=INTEGER}, #{bodyCondition,jdbcType=VARCHAR}, #{mentalCondition,jdbcType=VARCHAR}, 
      #{feeding,jdbcType=VARCHAR}, #{drinking,jdbcType=VARCHAR}, #{eyelid,jdbcType=INTEGER}, 
      #{conjunctiva,jdbcType=VARCHAR}, #{secretion,jdbcType=VARCHAR}, #{externalEar,jdbcType=VARCHAR}, 
      #{innerEar,jdbcType=VARCHAR}, #{nose,jdbcType=VARCHAR}, #{nasalFluid,jdbcType=INTEGER}, 
      #{nasalMucosa,jdbcType=VARCHAR}, #{mouth,jdbcType=VARCHAR}, #{abdomen,jdbcType=VARCHAR}, 
      #{anus,jdbcType=VARCHAR}, #{odor,jdbcType=VARCHAR}, #{fecalMorphology,jdbcType=VARCHAR}, 
      #{stoolColor,jdbcType=VARCHAR}, #{urineColor,jdbcType=VARCHAR}, #{urineVolume,jdbcType=VARCHAR}, 
      #{coat,jdbcType=VARCHAR}, #{skin,jdbcType=VARCHAR}, #{joint,jdbcType=VARCHAR}, 
      #{limbs,jdbcType=VARCHAR}, #{suspectedDisease,jdbcType=VARCHAR}, #{medication,jdbcType=VARCHAR}, 
      #{initialTreatmentEffect,jdbcType=VARCHAR}, #{muscle,jdbcType=VARCHAR}, #{brain,jdbcType=VARCHAR}, 
      #{cerebellum,jdbcType=VARCHAR}, #{throat,jdbcType=VARCHAR}, #{organ,jdbcType=VARCHAR}, 
      #{abdominalCavity,jdbcType=VARCHAR}, #{thoracicCavity,jdbcType=VARCHAR}, #{lymphNode,jdbcType=VARCHAR}, 
      #{heart,jdbcType=VARCHAR}, #{lung,jdbcType=VARCHAR}, #{liver,jdbcType=VARCHAR}, 
      #{liverColor,jdbcType=VARCHAR}, #{gallbladder,jdbcType=VARCHAR}, #{bileDuct,jdbcType=VARCHAR}, 
      #{kidneySurface,jdbcType=VARCHAR}, #{renalParenchyma,jdbcType=VARCHAR}, #{spleen,jdbcType=VARCHAR}, 
      #{gastricMucosa,jdbcType=VARCHAR}, #{stomachContents,jdbcType=VARCHAR}, #{duodenalMucosa,jdbcType=VARCHAR}, 
      #{duodenalContents,jdbcType=VARCHAR}, #{jejunalMucosa,jdbcType=VARCHAR}, #{jejunalContents,jdbcType=VARCHAR}, 
      #{ilealMucosa,jdbcType=VARCHAR}, #{ilealContents,jdbcType=VARCHAR}, #{cecumMucosa,jdbcType=VARCHAR}, 
      #{cecumContents,jdbcType=VARCHAR}, #{appendix,jdbcType=VARCHAR}, #{colonicMucosa,jdbcType=VARCHAR}, 
      #{colonContents,jdbcType=VARCHAR}, #{rectalMucosa,jdbcType=VARCHAR}, #{rectalContents,jdbcType=VARCHAR}, 
      #{vaginalMucosa,jdbcType=VARCHAR}, #{vaginalDischarge,jdbcType=VARCHAR}, #{uterus,jdbcType=VARCHAR}, 
      #{ovaryAndFallopianTubes,jdbcType=VARCHAR}, #{breast,jdbcType=VARCHAR}, #{penis,jdbcType=VARCHAR}, 
      #{testis,jdbcType=VARCHAR}, #{scrotum,jdbcType=VARCHAR}, #{anatomicalDiagnosis,jdbcType=VARCHAR}, 
      #{microscopicExaminationResult,jdbcType=VARCHAR}, #{bacterialCultureConclusion,jdbcType=VARCHAR}, 
      #{diagnosisConclusion,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select healRecordId, farmUuid, rabbitHouseNo, rabbitNo, bodyCondition, mentalCondition, 
    feeding, drinking, eyelid, conjunctiva, secretion, externalEar, innerEar, nose, nasalFluid, 
    nasalMucosa, mouth, abdomen, anus, odor, fecalMorphology, stoolColor, urineColor, 
    urineVolume, coat, skin, joint, limbs, suspectedDisease, medication, initialTreatmentEffect, 
    muscle, brain, cerebellum, throat, organ, abdominalCavity, thoracicCavity, lymphNode, 
    heart, lung, liver, liverColor, gallbladder, bileDuct, kidneySurface, renalParenchyma, 
    spleen, gastricMucosa, stomachContents, duodenalMucosa, duodenalContents, jejunalMucosa, 
    jejunalContents, ilealMucosa, ilealContents, cecumMucosa, cecumContents, appendix, 
    colonicMucosa, colonContents, rectalMucosa, rectalContents, vaginalMucosa, vaginalDischarge, 
    uterus, ovaryAndFallopianTubes, breast, penis, testis, scrotum, anatomicalDiagnosis, 
    microscopicExaminationResult, bacterialCultureConclusion, diagnosisConclusion
    from rabbit_health
  </select>
  <resultMap id="BaseResultMap" type="com.nwafu.databaseoprations.entity.RabbitHealth">
    <result column="healRecordId" jdbcType="VARCHAR" property="healRecordId" />
    <result column="farmUuid" jdbcType="VARCHAR" property="farmUuid" />
    <result column="rabbitHouseNo" jdbcType="INTEGER" property="rabbitHouseNo" />
    <result column="rabbitNo" jdbcType="INTEGER" property="rabbitNo" />
    <result column="bodyCondition" jdbcType="VARCHAR" property="bodyCondition" />
    <result column="mentalCondition" jdbcType="VARCHAR" property="mentalCondition" />
    <result column="feeding" jdbcType="VARCHAR" property="feeding" />
    <result column="drinking" jdbcType="VARCHAR" property="drinking" />
    <result column="eyelid" jdbcType="INTEGER" property="eyelid" />
    <result column="conjunctiva" jdbcType="VARCHAR" property="conjunctiva" />
    <result column="secretion" jdbcType="VARCHAR" property="secretion" />
    <result column="externalEar" jdbcType="VARCHAR" property="externalEar" />
    <result column="innerEar" jdbcType="VARCHAR" property="innerEar" />
    <result column="nose" jdbcType="VARCHAR" property="nose" />
    <result column="nasalFluid" jdbcType="INTEGER" property="nasalFluid" />
    <result column="nasalMucosa" jdbcType="VARCHAR" property="nasalMucosa" />
    <result column="mouth" jdbcType="VARCHAR" property="mouth" />
    <result column="abdomen" jdbcType="VARCHAR" property="abdomen" />
    <result column="anus" jdbcType="VARCHAR" property="anus" />
    <result column="odor" jdbcType="VARCHAR" property="odor" />
    <result column="fecalMorphology" jdbcType="VARCHAR" property="fecalMorphology" />
    <result column="stoolColor" jdbcType="VARCHAR" property="stoolColor" />
    <result column="urineColor" jdbcType="VARCHAR" property="urineColor" />
    <result column="urineVolume" jdbcType="VARCHAR" property="urineVolume" />
    <result column="coat" jdbcType="VARCHAR" property="coat" />
    <result column="skin" jdbcType="VARCHAR" property="skin" />
    <result column="joint" jdbcType="VARCHAR" property="joint" />
    <result column="limbs" jdbcType="VARCHAR" property="limbs" />
    <result column="suspectedDisease" jdbcType="VARCHAR" property="suspectedDisease" />
    <result column="medication" jdbcType="VARCHAR" property="medication" />
    <result column="initialTreatmentEffect" jdbcType="VARCHAR" property="initialTreatmentEffect" />
    <result column="muscle" jdbcType="VARCHAR" property="muscle" />
    <result column="brain" jdbcType="VARCHAR" property="brain" />
    <result column="cerebellum" jdbcType="VARCHAR" property="cerebellum" />
    <result column="throat" jdbcType="VARCHAR" property="throat" />
    <result column="organ" jdbcType="VARCHAR" property="organ" />
    <result column="abdominalCavity" jdbcType="VARCHAR" property="abdominalCavity" />
    <result column="thoracicCavity" jdbcType="VARCHAR" property="thoracicCavity" />
    <result column="lymphNode" jdbcType="VARCHAR" property="lymphNode" />
    <result column="heart" jdbcType="VARCHAR" property="heart" />
    <result column="lung" jdbcType="VARCHAR" property="lung" />
    <result column="liver" jdbcType="VARCHAR" property="liver" />
    <result column="liverColor" jdbcType="VARCHAR" property="liverColor" />
    <result column="gallbladder" jdbcType="VARCHAR" property="gallbladder" />
    <result column="bileDuct" jdbcType="VARCHAR" property="bileDuct" />
    <result column="kidneySurface" jdbcType="VARCHAR" property="kidneySurface" />
    <result column="renalParenchyma" jdbcType="VARCHAR" property="renalParenchyma" />
    <result column="spleen" jdbcType="VARCHAR" property="spleen" />
    <result column="gastricMucosa" jdbcType="VARCHAR" property="gastricMucosa" />
    <result column="stomachContents" jdbcType="VARCHAR" property="stomachContents" />
    <result column="duodenalMucosa" jdbcType="VARCHAR" property="duodenalMucosa" />
    <result column="duodenalContents" jdbcType="VARCHAR" property="duodenalContents" />
    <result column="jejunalMucosa" jdbcType="VARCHAR" property="jejunalMucosa" />
    <result column="jejunalContents" jdbcType="VARCHAR" property="jejunalContents" />
    <result column="ilealMucosa" jdbcType="VARCHAR" property="ilealMucosa" />
    <result column="ilealContents" jdbcType="VARCHAR" property="ilealContents" />
    <result column="cecumMucosa" jdbcType="VARCHAR" property="cecumMucosa" />
    <result column="cecumContents" jdbcType="VARCHAR" property="cecumContents" />
    <result column="appendix" jdbcType="VARCHAR" property="appendix" />
    <result column="colonicMucosa" jdbcType="VARCHAR" property="colonicMucosa" />
    <result column="colonContents" jdbcType="VARCHAR" property="colonContents" />
    <result column="rectalMucosa" jdbcType="VARCHAR" property="rectalMucosa" />
    <result column="rectalContents" jdbcType="VARCHAR" property="rectalContents" />
    <result column="vaginalMucosa" jdbcType="VARCHAR" property="vaginalMucosa" />
    <result column="vaginalDischarge" jdbcType="VARCHAR" property="vaginalDischarge" />
    <result column="uterus" jdbcType="VARCHAR" property="uterus" />
    <result column="ovaryAndFallopianTubes" jdbcType="VARCHAR" property="ovaryAndFallopianTubes" />
    <result column="breast" jdbcType="VARCHAR" property="breast" />
    <result column="penis" jdbcType="VARCHAR" property="penis" />
    <result column="testis" jdbcType="VARCHAR" property="testis" />
    <result column="scrotum" jdbcType="VARCHAR" property="scrotum" />
    <result column="anatomicalDiagnosis" jdbcType="VARCHAR" property="anatomicalDiagnosis" />
    <result column="microscopicExaminationResult" jdbcType="VARCHAR" property="microscopicExaminationResult" />
    <result column="bacterialCultureConclusion" jdbcType="VARCHAR" property="bacterialCultureConclusion" />
    <result column="diagnosisConclusion" jdbcType="VARCHAR" property="diagnosisConclusion" />
  </resultMap>
  <insert id="insert" parameterType="com.nwafu.databaseoprations.entity.RabbitHealth">
    insert into rabbit_health (healRecordId, farmUuid, rabbitHouseNo, 
      rabbitNo, bodyCondition, mentalCondition, 
      feeding, drinking, eyelid, 
      conjunctiva, secretion, externalEar, 
      innerEar, nose, nasalFluid, 
      nasalMucosa, mouth, abdomen, 
      anus, odor, fecalMorphology, 
      stoolColor, urineColor, urineVolume, 
      coat, skin, joint, 
      limbs, suspectedDisease, medication, 
      initialTreatmentEffect, muscle, brain, 
      cerebellum, throat, organ, 
      abdominalCavity, thoracicCavity, lymphNode, 
      heart, lung, liver, 
      liverColor, gallbladder, bileDuct, 
      kidneySurface, renalParenchyma, spleen, 
      gastricMucosa, stomachContents, duodenalMucosa, 
      duodenalContents, jejunalMucosa, jejunalContents, 
      ilealMucosa, ilealContents, cecumMucosa, 
      cecumContents, appendix, colonicMucosa, 
      colonContents, rectalMucosa, rectalContents, 
      vaginalMucosa, vaginalDischarge, uterus, 
      ovaryAndFallopianTubes, breast, penis, 
      testis, scrotum, anatomicalDiagnosis, 
      microscopicExaminationResult, bacterialCultureConclusion, 
      diagnosisConclusion)
    values (#{healRecordId,jdbcType=VARCHAR}, #{farmUuid,jdbcType=VARCHAR}, #{rabbitHouseNo,jdbcType=INTEGER}, 
      #{rabbitNo,jdbcType=INTEGER}, #{bodyCondition,jdbcType=VARCHAR}, #{mentalCondition,jdbcType=VARCHAR}, 
      #{feeding,jdbcType=VARCHAR}, #{drinking,jdbcType=VARCHAR}, #{eyelid,jdbcType=INTEGER}, 
      #{conjunctiva,jdbcType=VARCHAR}, #{secretion,jdbcType=VARCHAR}, #{externalEar,jdbcType=VARCHAR}, 
      #{innerEar,jdbcType=VARCHAR}, #{nose,jdbcType=VARCHAR}, #{nasalFluid,jdbcType=INTEGER}, 
      #{nasalMucosa,jdbcType=VARCHAR}, #{mouth,jdbcType=VARCHAR}, #{abdomen,jdbcType=VARCHAR}, 
      #{anus,jdbcType=VARCHAR}, #{odor,jdbcType=VARCHAR}, #{fecalMorphology,jdbcType=VARCHAR}, 
      #{stoolColor,jdbcType=VARCHAR}, #{urineColor,jdbcType=VARCHAR}, #{urineVolume,jdbcType=VARCHAR}, 
      #{coat,jdbcType=VARCHAR}, #{skin,jdbcType=VARCHAR}, #{joint,jdbcType=VARCHAR}, 
      #{limbs,jdbcType=VARCHAR}, #{suspectedDisease,jdbcType=VARCHAR}, #{medication,jdbcType=VARCHAR}, 
      #{initialTreatmentEffect,jdbcType=VARCHAR}, #{muscle,jdbcType=VARCHAR}, #{brain,jdbcType=VARCHAR}, 
      #{cerebellum,jdbcType=VARCHAR}, #{throat,jdbcType=VARCHAR}, #{organ,jdbcType=VARCHAR}, 
      #{abdominalCavity,jdbcType=VARCHAR}, #{thoracicCavity,jdbcType=VARCHAR}, #{lymphNode,jdbcType=VARCHAR}, 
      #{heart,jdbcType=VARCHAR}, #{lung,jdbcType=VARCHAR}, #{liver,jdbcType=VARCHAR}, 
      #{liverColor,jdbcType=VARCHAR}, #{gallbladder,jdbcType=VARCHAR}, #{bileDuct,jdbcType=VARCHAR}, 
      #{kidneySurface,jdbcType=VARCHAR}, #{renalParenchyma,jdbcType=VARCHAR}, #{spleen,jdbcType=VARCHAR}, 
      #{gastricMucosa,jdbcType=VARCHAR}, #{stomachContents,jdbcType=VARCHAR}, #{duodenalMucosa,jdbcType=VARCHAR}, 
      #{duodenalContents,jdbcType=VARCHAR}, #{jejunalMucosa,jdbcType=VARCHAR}, #{jejunalContents,jdbcType=VARCHAR}, 
      #{ilealMucosa,jdbcType=VARCHAR}, #{ilealContents,jdbcType=VARCHAR}, #{cecumMucosa,jdbcType=VARCHAR}, 
      #{cecumContents,jdbcType=VARCHAR}, #{appendix,jdbcType=VARCHAR}, #{colonicMucosa,jdbcType=VARCHAR}, 
      #{colonContents,jdbcType=VARCHAR}, #{rectalMucosa,jdbcType=VARCHAR}, #{rectalContents,jdbcType=VARCHAR}, 
      #{vaginalMucosa,jdbcType=VARCHAR}, #{vaginalDischarge,jdbcType=VARCHAR}, #{uterus,jdbcType=VARCHAR}, 
      #{ovaryAndFallopianTubes,jdbcType=VARCHAR}, #{breast,jdbcType=VARCHAR}, #{penis,jdbcType=VARCHAR}, 
      #{testis,jdbcType=VARCHAR}, #{scrotum,jdbcType=VARCHAR}, #{anatomicalDiagnosis,jdbcType=VARCHAR}, 
      #{microscopicExaminationResult,jdbcType=VARCHAR}, #{bacterialCultureConclusion,jdbcType=VARCHAR}, 
      #{diagnosisConclusion,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select healRecordId, farmUuid, rabbitHouseNo, rabbitNo, bodyCondition, mentalCondition, 
    feeding, drinking, eyelid, conjunctiva, secretion, externalEar, innerEar, nose, nasalFluid, 
    nasalMucosa, mouth, abdomen, anus, odor, fecalMorphology, stoolColor, urineColor, 
    urineVolume, coat, skin, joint, limbs, suspectedDisease, medication, initialTreatmentEffect, 
    muscle, brain, cerebellum, throat, organ, abdominalCavity, thoracicCavity, lymphNode, 
    heart, lung, liver, liverColor, gallbladder, bileDuct, kidneySurface, renalParenchyma, 
    spleen, gastricMucosa, stomachContents, duodenalMucosa, duodenalContents, jejunalMucosa, 
    jejunalContents, ilealMucosa, ilealContents, cecumMucosa, cecumContents, appendix, 
    colonicMucosa, colonContents, rectalMucosa, rectalContents, vaginalMucosa, vaginalDischarge, 
    uterus, ovaryAndFallopianTubes, breast, penis, testis, scrotum, anatomicalDiagnosis, 
    microscopicExaminationResult, bacterialCultureConclusion, diagnosisConclusion
    from rabbit_health
  </select>
</mapper>