<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- mapper 为根元素节点， 一个namespace对应一个dao -->
<mapper namespace="com.nwafu.accountloginmanagement.dao.NormalUserDao">
    <resultMap id="NormalUserInfo" type="com.nwafu.accountloginmanagement.entity.NormalUserInfo">
        <id property="username" column="username" javaType="String" jdbcType="VARCHAR"></id>
        <result property="password" javaType = "String" jdbcType="VARCHAR" column="password"></result>
        <result property="farmUuids" javaType = "String" jdbcType="VARCHAR" column="farmUuids"></result>
        <result property="status" javaType = "String" jdbcType="VARCHAR" column="status"></result>
        <result property="registrationTime" javaType = "String" jdbcType="DATE" column="registrationTime"></result>
    </resultMap>

    <select id="getNormalUserInfoByUsername" parameterType="java.lang.String" resultMap="NormalUserInfo">
        select * from user_info where username=#{username}
    </select>
    
    <insert id="addAccount" parameterType="java.lang.String">
        insert into user_info(username,password) value (#{username},#{password})
    </insert>

    <update id="updataLoginStatus" parameterType="java.lang.String">
        update user_info set status=#{newStatus} where username=#{username}
    </update>

    <insert id="addSubAccount" parameterType="java.lang.String">
        insert into sub_user_info(subUsername, subPassword, parentUser, permissions) value (#{subUsername},#{subPassword},#{parentUser}, #{permissions})
    </insert>

    <update id="createDatabase" parameterType="java.lang.String">
        create database ${_parameter}
    </update>

    <delete id="deleteDatabase" parameterType="java.lang.String">
        drop database ${_parameter}
    </delete>

    <delete id="deleteSubAccount" parameterType="java.lang.String">
        delete from sub_user_info where subUsername=#{subUsername} and parentUser=#{parentUser}
    </delete>


</mapper>